/* Reset Everything */
*, *:before, *:after {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; padding:0; margin:0;}
a img {border:none;}
a:active {color:black; text-decoration:none;}
a:visited {color:black; text-decoration:none;}
a:hover {color:black; text-decoration:none;}
a:active {color:black; text-decoration:none;}

html {text-rendering: optimizelegibility;}


/* @#$&ing mobile */
div, p, a, ul, li, tr, td, img {
	-webkit-text-size-adjust:none !important;
	text-size-adjust:none !important;
}

html, body {
	min-width: 960px !important;
}
	

/* Links */
a:hover, a:focus {
    text-decoration: underline;
    color: #ffe981;
}

a:visited {
    color: #ffe981;
    text-decoration: none;
}

a:link {
    color: #ffe981;
    text-decoration: none;
}


/* Utility */
.font1 {
	font-family: "TrajanProRegular",Times,Georgia;
}

.font2 {
	font-family: "MuseoSans",Arial,sans-serif;
}


.dshadow {
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 2px 2px 3px black;
}

.lshadow {
	text-shadow: 1px 1px 2px #4B4B4B;
}


table, th, td {
    //border: 1px solid white;
}


/* Background */
body {
	background-color: #13140E;
	margin: 0px;
	font-family: "TrajanProRegular",Times,Georgia;
	font-size: 18px;
	color: #ccc;
}

#wrap {
	width: 1200px;
	min-height: 700px;
	margin: 0px auto;
    background-image: url(https://www.achaea.com/sites/all/themes/achaea/css/./images/achaea_sub_full.jpg);
    background-repeat: no-repeat;
    background-position: center top;
	background-attachment: fixed;
}


/* Header */
#header {
	height: 210px;
	width: 980px;
	position: relative;
	margin: 0px auto;
	padding-top: 50px;
	text-align: center;
	font-size: 55px;
	line-height: 70px;
	color: #fff;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 5px 5px 5px black;
	letter-spacing: 2px;
}

#header #motto {
	position: absolute;
    right: 55px;
    top: 100px;
	font-size: 18px;
	line-height: 20px;
	color: #ccc;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 2px 2px 3px black;
}

#header #achaea_logo {
	position: absolute;
	top: 10px;
	left: 0px;
	z-index: 1;
}


/* Menu */
#menu {
	height: 50px;
	width: 980px;
	position: relative;
	margin: 0px auto;
	padding: 15px 50px;
	background-image: url(https://www.achaea.com/sites/all/themes/achaea/css/images/backgrounds/nav-background.png);
	font-size: 21px;
}

#menu li {
	display: inline-block;
	float: left;
	list-style: none;
	padding: 0px 12px;
}

#menu .last {
	float: right;
}

#menu li a:hover {
	color: firebrick;

}


/* Page */
#page {
	width: 970px;
	min-height: 600px;
	position: relative;
	z-index: 3;
	margin: 10px auto 0px;
	padding: 5px 50px;
	background-color: black;
	color: #ccc;
	font-size: 18px;
	font-family: "TrajanProRegular",Times,Georgia;
	//font-size: 16px;
	//font-family: "MuseoSans",Arial,sans-serif;
}

#page_bg {
	position: absolute;
	top: -22px;
	left: 0px;
	z-index: -1;
}

#page_content {
	position: relative;
	padding: 5px 50px;
	z-index: 5;
}

#page_title {
	display: inline-block;
	margin-left: 110px;
	margin-bottom: 40px;
	padding: 2px 20px;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
    font-size: 24px;
	text-align: center;
	color: firebrick;
}


/* Install */
#install {
	width: 343px;
	height: 422px;
	position: absolute;
	top: 50px;
	right: -25px;
	padding: 25px;
	background: url(https://www.achaea.com/sites/all/themes/achaea/css/images/backgrounds/signup-background-small.png);
	overflow: hidden;
	color: black;
}

#install .header {
	width: 255px;
	font-size: 28px;
	text-align: center;
	margin-top: 35px;
	padding: 10px 0px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 15px;
	color: firebrick;
}

#install ul {
	width: 205px;
	margin: 20px 38px;
	font-size: 20px;
}

#install li {
	list-style: upper-roman;
	padding-bottom: 15px;
}


/* Intro */
#intro {
    width: 550px;
    //height: 380px;
	max-height: 1000px;
	margin-bottom: 60px;
	text-align: left;
	line-height: 22px;
	font-size: 18px;
	//font-size: 16px;
	//font-family: "MuseoSans",Arial,sans-serif;
}

#intro td, #intro th {
	vertical-align: top;
}

.i_title {
	color: #ffe981;
	padding-bottom: 30px;
}

.i_image {
	padding-top: 16px;
	padding-right: 30px;
}

.i_image img {
	border-radius: 5px;
	border: 1px solid black;
}

.i_desc {
	max-height: 1000px;
	
}

.i_contact {
	padding-top: 30px;
}


/* Page Stuff */


/* Footer */
#footer {
    width: 972px;
	height: 140px;
	position: relative;
	z-index: 2;
	margin: -70px auto 40px;
	background-color: #000;
	color: #ccc;
}

#footer_div {
	position: absolute;
	top: -5px;
}

#footer_bg {
	width: 966px;
	position: absolute;
	top: 5px;
	left: 3px;
}

#to_top {
	width: 150px;
    position: relative;
    top: 70px;
	margin: 0px auto;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}

#footer a:hover {
	text-decoration: none;
	color: #fff;
}


/* Sub footer */
#disclaimer {
	height: 120px;
    width: 980px;
	position: relative;
	z-index: 1;
	margin: -30px auto 0px;
	text-align: center;
	font-family: "MuseoSans",Arial,sans-serif;
	font-size: 14px;
}

#disclaimer_info {
	width: 480px;
	margin-left: 120px;
	margin-top: -30px;
}


/* Social */
#social-footer {
    position: absolute;
    right: 150px;
    top: 15px;
}

#disclaimer a#fbLink {
    width: 65px;
    height: 75px;
    background-image: url(https://www.achaea.com/sites/all/themes/achaea/css/./images/facebook.png);
    border: 0;
    text-indent: -9999px;
    display: block;
    float: right;
}

#disclaimer a#feedLink {
    width: 65px;
    height: 75px;
    background-image: url(https://www.achaea.com/sites/all/themes/achaea/css/./images/rss.png);
    border: 0;
    text-indent: -9999px;
    display: block;
    float: right;
}

#disclaimer a#twLink {
    width: 65px;
    height: 75px;
    background-image: url(https://www.achaea.com/sites/all/themes/achaea/css/./images/twitter.png);
    border: 0;
    text-indent: -9999px;
    display: block;
    float: right;
}